.contenedor
{
width: 600px;
background-color: rgb(255, 255, 255);
margin: 0 auto;
padding: 20px;
margin-top: 5px;
border-radius: 15px;
}
.contenedor h1
{
text-align: center;
color: rgb(255, 140, 0);
}
.contenedor table
{
margin-top: 30px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 22px; 
}
.contiene
{
width: 30px;
background-color: rgb(255, 140, 0);
padding: 30px;
}
.no-contiene
{
width: 30px;
background-color: rgb(255, 222, 182);
padding: 10px;
}
.contenedor-alternativo
{
display: flex;/*colocar los DIV uno del lado del otro*/
justify-content: center;/*centrar los DIV en el contenedor*/
}
.caja
{
width: 30px;
padding: 15px;
text-align: center;
font-size: 22px;
color: rgb(54, 54, 54);
background-color: aqua;
border: 1px snow;
cursor: pointer;
margin: 2px;
}
.resultado
{
background-color: #0a80ff; 
color: #DFE8F1; 
text-align: center; 
padding: 15px;
border-radius: 10px;
}
/* estilo cronometro */
* {
transition: all 0.3s;
}
.marco {
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
font-family: calibri;
color: black; 
}
.botones-contenedor 
{
display: flex;
justify-content: space-around;
}
.btn 
{
cursor: pointer;
display: inline-block;
font-size: 60%;
padding: 20px;
}

